{% extends 'base.html.twig' %}

{% set netflix_url = blackmiror.resources.officialSite %}
{% set tvmaze_url = blackmiror.resources.url %}
{% set site_name = blackmiror.resources.name %}
{% set seasons = blackmiror.resources._embedded.episodes|orderSeasons %}

{% block body %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ blackmiror.resources.name }}</h1>
                <p class="lead text-muted">{{ blackmiror.resources.summary | raw }}</p>
                <p><span class="tab-space">Rating : {{ blackmiror.resources.rating.average }}</span>  <span class="tab-space">Language : {{ blackmiror.resources.language }}</span></p>
            </div>
        </section>

        <div class="episode py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="list-group" id="seasonList" role="tablist">
                            {% for key, season in seasons%}
                                <a class="list-group-item list-group-item-action {% if key == 1 %} active {% endif %}" data-toggle="list" href="#{{ 'season'~key }}" role="tab">
                                    {{ 'season '~key }}
                                </a>
                            {% endfor %}
                       </div>
                    </div>
                    <div class="col-10">
                        <div class="tab-content episodes" id="nav-tabContent">
                            {% for key, season in seasons%}
                                <div class="tab-pane align-items-start align-items-lg-center lighten-3 {% if key == 1 %} active {% endif %}" id="{{ 'season'~key }}" role="tabpanel">
                                    {% for episode in season%}
                                        <div class="col-md-4">
                                            <div class="card mb-4 box-shadow">
                                                <img class="card-img-top" src="{{ episode.image.medium }}" alt="episode {{ episode.number }}" class="img-fluid img-thumbnail">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <a href="{{ path('episode_view', {'id': episode.id}) }}">
                                                            Episode {{ episode.number }} - {{ episode.name }}
                                                        </a>
                                                    </p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <small class="text-muted float-right" >{{ episode.runtime }} mins</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
<style>
img {
    width:200px;
    height:120px;
}
.card-text {
    font-size: 11px;
}

.tab-content > .active {
    display: inline-flex !important;
    flex-flow: wrap;
}
.tab-space {
    margin: 20px;
    font-style: italic;
}

footer {
    background-color: #4B515D;
}
</style>
{% endblock %}


