{% extends 'base.html.twig' %}
{% set seasons = blackmiror.resources._embedded.episodes|orderSeasons %}
{% set active = '' %}

{% block channels %}
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About the programme</h4>
                    <p class="text-muted">Charlie Brooker's series of unsettling dark drama brimming with near-future madness.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Channels</h4>
                    <ul class="list-unstyled">
                        <li><a href="{{ blackmiror.resources.officialSite }}" class="text-white">NetFlix</a></li>
                        <li><a href="{{ blackmiror.resources.url }}" class="text-white">tvmaze</a></li>
                        <li><a href="#" class="text-white">imdb</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_title %}
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>{{ blackmiror.resources.name }}</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
{% endblock %}
{% block body %}
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">{{ blackmiror.resources.name }}</h1>
                <p class="lead text-muted">{{ blackmiror.resources.summary | raw }}</p>
                <p>Rating : {{ blackmiror.resources.rating.average }} Language : {{ blackmiror.resources.language }}</p>
            </div>
        </section>

        <div class="episode py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="list-group" id="seasonList" role="tablist">
                            {% for key, season in seasons%}
                                {% if key == 1 %}
                                        {% set active = 'active' %}
                                {% endif %}
                                <a class="list-group-item list-group-item-action" data-toggle="list" href="#{{ 'season'~key }}" role="tab">{{ 'season'~key }}</a>
                            {% endfor %}
                       </div>
                    </div>
                    <div class="col-10">
                        <div class="tab-content episodes" id="nav-tabContent">
                            {% for key, season in seasons%}
                                <div class="tab-pane" id="{{ 'season'~key }}" role="tabpanel">
                                    {% for episode in season%}
                                        <div class="col-md-3">
                                            <div class="card mb-4 box-shadow">
                                                <img class="card-img-top" src="{{ episode.image.medium }}" alt="episode {{ episode.number }}" class="img-fluid img-thumbnail">
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <a href="{{ path('episode_view', {'id': episode.id}) }}">
                                                            Episode {{ episode.number }} - {{ episode.name }}
                                                        </a>
                                                    </p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <small class="text-muted">{{ episode.runtime }} mins</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
<style>
img {
    width:200px;
    height:120px;
}
.card-text {
    font-size: 11px;
}

.tab-pane  {
    display: flex;
    flex-wrap: wrap;
}

</style>
{% endblock %}


